# Q1

(1.) Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

Ans:

In [1]:
test1 = 'This is a test of the emergency text system'

In [2]:
with open('test.txt', 'wt') as outfile:
    outfile.write(test1)

In [3]:
outfile.close()

# Q2

(2.) Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

Ans:

In [4]:
with open('test.txt', 'rt') as infile:
    test2 = infile.read()

In [5]:
 test1 == test2

True

# Q3

(3.) Create a CSV file called books.csv by using these lines:
* title,author,year
* The Weirdstone of Brisingamen,Alan Garner,1960
* Perdido Street Station,China Miéville,2000
* Thud!,Terry Pratchett,2005
* The Spellman Files,Lisa Lutz,2007
* Small Gods,Terry Pratchett,1992

Ans:

In [6]:
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

# Q4

(4.) Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

Ans:

In [8]:
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table books (title text, author text, year int)''')

In [9]:
db.commit()

# Q5

(5.) Read books.csv and insert its data into the book table.

Ans:

In [11]:
import csv
import sqlite3
ins_str = 'insert into book values(?, ?, ?)'
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

In [12]:
db.commit()

# Q6

(6.) Select and print the title column from the book table in alphabetical order.

Ans:

In [13]:
sql = 'select title from book order by title asc'
for row in db.execute(sql):
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

# Q7

(7.) From the book table, select and print all columns in the order of publication.

Ans:

In [14]:
for row in db.execute('select * from book order by year'):
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

# Q8

(8.) Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

Ans:

In [15]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

# Q9

(9.) Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

Ans:

In [17]:
pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
     |████████████████████████████████| 246 kB 4.0 MB/s eta 0:00:01
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: packaging>=20.4 in /home/anand/anaconda3/lib/python3.9/site-packages (from redis) (21.3)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in /home/anand/anaconda3/lib/python3.9/site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/anand/anaconda3/lib/python3.9/site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, async-timeout, redis
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.1
    Uninstalling async-timeout-4.0.1:
      Successfully uninstalled async-timeout-4.0.1
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4
Note: you may need to restart the kernel to use updated packages.

In [13]:
import redis
conn = redis.Redis(host='localhost',port=6379)
conn.delete('test')

0

In [14]:
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

/tmp/ipykernel_10783/2098504947.py:1: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

True

In [15]:
conn.hgetall('test')

{b'count': b'1', b'name': b'Fester Bestertester'}

# Q10

(10.) Increment the count field of test and print it.

Ans:

In [16]:
conn.hincrby('test', 'count', 2)

3

In [17]:
conn.hget('test', 'count')

b'3'