1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

Ans:

*      : EXPRESSION(MATHEMATICAL OPERATOR)
'hello': VALUE(STRING)
-87.8  : VALUE(FLOAT)
-      : EXPRESSION(MATHEMATICAL OPERATOR)
/      : EXPRESSION(MATHEMATICAL OPERATOR)
+      : EXPRESSION(MATHEMATICAL OPERATOR)  
6      : VALUE(INT)

2. What is the difference between string and variable?

Ans:

strings is one of the datatype. you create string by puttinng values between single quotation. you can use  double and triple quotation also. string can contain any letter, number, character between the quotations.
examples 'fgregergg', "dsg35435/*-++@#^&%"

where as variable is used for assign the value. even we can declare variable by assign it a string.simply you can say that variable as an identifier to store a value in a memory location and to manipulate it if needed.
examples x=5, x=-9, x='dfgfdg', x=2 y=3 c=x+y

3. Describe three different data types.

Ans:

data type-String
strings is one of the datatype. you create string by puttinng values between single quotation. you can use  double and triple quotation also. string can contain any letter, number, character between the quotations.
examples 'fgregergg', "dsg35435/*-++@#^&%" 

data type-integer
This data type is represented with the help of int class. It consists of positive or negative whole numbers (without fraction or decimal). 
example- 45,-45

data type-Float
The float type represents the floating point number. Float is used to represent real numbers and is written with a decimal point dividing the integer and fractional parts.
examples- 45.02, -89.248

data type- Boolean

its built in data types provided by python. which represent by two values. True and False.

In [4]:
# data type- Boolean

# its built in data types provided by python. which represent by two values. True and False.
1==1

True

In [5]:
1==2

False

4. What is an expression made up of? What do all expressions do?

Ans

An expression usually refers to a piece of code that can be evaluated to a value, and is composed of variables, operators, function calls, and literals. In most programming languages, common examples of expressions are method calls and mathematical operations.

examples,
print(10*3)   #it's expression which return value 30.
print("a")    #it's expression which gives output a , which string type output.
print([x*x for x in range(5)])  # it's expression, which gives a list as output.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans:

spam = 10 # it's statement which assigning the value 10 to variable spam.

Difference between statement and spam.

A statement refers to a piece of code that executes a specific instruction or tells the computer to complete a task.A statement can take the form of assignments, control statements, import statements, loop statements, jump statements, or method calls.it's does not evaluate something and does not print result.

An expression usually refers to a piece of code that can be evaluated to a value, and is composed of variables, operators, function calls, and literals.it's evaluate something and prints the result.

6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [17]:
#Ans the bacon variable contain 22
bacon = 22
bacon+1
print(bacon)

22

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

Ans

'spam' + 'spamspam'     # output= spamspamspam
'spam' * 3              #output=  spamspamspam

In [24]:
"spam"+'spamspam'

'spamspamspam'

In [25]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Ans:

eggs is valid variable becasue its start with letter.

100 is invalid variable becasue its start with number. 

below are the listed rules for python variable decalaration.

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans:

function for integer value: int()
function for floating-point nummber: float()
function for string version : str()

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Ans:

'I have eaten ' + 99 + ' burritos.'
 
 in above expression 99 is int type value and other are string tye value. which will give an str concatenate error. for fix above issue need to use type casting of 99 to string type. below is the solution.
 
 'I have eaten ' + str(99) + ' burritos.'

In [27]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'